body {
    background-color: #f8f9fa37; /* Set a light grey background color for the entire page */
}

.custom-box {
    background-color: #ffffff; /* Set a white background color for the central content box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Apply a subtle shadow to the box */
    padding: 20px; /* Add padding for better visual appeal */
    border-radius: 8px; /* Add rounded corners to the box */
}